In [6]:
import pandas as pd

df = pd.read_csv('base de dados.csv')

df

,Nome,Departamento,Sexo,Salario,HH - Trabalhado,Mes
0,Fernando Alencar,Marketing,Masculino,3450,300,Janeiro
1,Eduarda Neves,Departamento Pessoal,Feminino,5000,250,Janeiro
2,Yago Souza,TI,Masculino,3680,180,Janeiro
3,José Martinez,BI,Masculino,2500,220,Janeiro
4,Lyanco Costa,BI,Masculino,3800,220,Janeiro
...,...,...,...,...,...,...
127,Maria Vasconcelos,Recursos Humanos,Feminino,1500,365,Dezembro
128,Pedro Santos,Logística,Masculino,3000,280,Dezembro
129,Mayara Ferreira,TI,Feminino,6000,180,Dezembro
130,Tiago Nascimento,Segurança,Masculino,10000,288,Dezembro
131,Maria Silva,Supervisora,Feminino,18000,260,Dezembro

In [7]:
import pandas as pd

df = pd.read_csv('base de dados.csv')
dados = df.to_dict(orient='records')

horas_mensais = {}
horas_anuais = {}
salarios = {}
custo_anual = {}

for dado in dados:
    nome = dado['Nome']
    mes = dado['Mes']
    horas = dado['HH - Trabalhado']
    salario = dado['Salario']

    # Guardar salário do funcionário (pega apenas o primeiro encontrado)
    if nome not in salarios:
        salarios[nome] = salario
   
    if nome not in horas_mensais:
        horas_mensais[nome] = {}

    if mes not in horas_mensais[nome]:
        horas_mensais[nome][mes] = 0

    if nome not in horas_anuais:
        horas_anuais[nome] = 0

    # Somatórios
    horas_mensais[nome][mes] += horas
    horas_anuais[nome] += horas

# Calculando custo anual de cada funcionário

for nome in horas_anuais:
    valor_hora = salarios[nome] /220
    custo_anual[nome] = valor_hora * horas_anuais[nome]

for nome in custo_anual:
    print(f"{nome} R${custo_anual[nome]:,.2f}".replace(",", "X").replace(".", ",").replace("X", "."))

Fernando Alencar R$57.003,41
Eduarda Neves R$78.045,45
Yago Souza R$51.787,64
José Martinez R$33.886,36
Lyanco Costa R$53.044,55
Débora Nunes R$108.850,00
Maria Vasconcelos R$24.572,73
Pedro Santos R$43.090,91
Mayara Ferreira R$82.963,64
Tiago Nascimento R$158.909,09
Maria Silva R$251.672,73